{% extends 'base.html' %}

{% block title %}about page{% endblock %}

{% block content %}
<center><h1>List of Appliences</h1></center>
<div class="row">
{% for product in products %}
    {% if product.category=='appliances' %}
        <div class="card" style="width: 18rem;">
            {% if product.id%2 ==0 %}
            <img src="https://i.pinimg.com/originals/26/7d/7b/267d7b0e9351f608ef3df5c16d734a43.gif" class="card-img-top" alt="...">
            {% else %}
            <img src="https://cdn.dribbble.com/users/958543/screenshots/2868176/home_appliance_4x3.gif" class="card-img-top" alt="...">
            {% endif%}
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
<!--            <p class="card-text">{{ product.desc }}</p>-->
            <p class="card-text">Price: RS.{{ product.price }}</p>
            <p class="card-text">Stock: {{ product.stock }}</p>

            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary" onclick="alert('Item Added successfully to cart')">Add to Cart</button>
            </form>
            <form action="/add_to_wishlist" method="post">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button type="submit" class="btn btn-warning" onclick="alert('Item Added successfully to wishlist')">Add to wishlist</button>
            </form>
          </div>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}

